.About {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.About h1 {
    text-align: center;
}

.Center {
    text-align: center;
}

.About img {
    width: 20%;
}

.Center {
    text-align: center;
}

.Certificates {
    display: flex;
    justify-content: center;
}

.SertDivider {
    width: 1em;
}