.Invoice {
    width: 100%;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: text-top;
}

td, th {
    text-align: left;
    padding: 5px;
}

.RightAlign {
    text-align: right;   
}

.Invoice input {
    display: block;
}
